<div class="border border-3 p-3 my-3 w-100" [@formAnimation]>
    <div *ngFor="let extra of value;let i=index" class="form-group mb-3 d-flex justify-content-between">
        <label for="{{extra.name }ID">{{extra.title}}</label>
        <div class="d-flex mx-2 align-items-stretch">
            <button class="btn btn-sm btn-danger rounded-0" (click)="update(i, true);">
                <strong class="fs-5">+</strong></button>
            <input type="number" class="form-control bg-white text-center" id="{{extra.name}}ID" min="0" [(ngModel)]="extra.quantity">
            <button class="btn btn-sm btn-danger rounded-0" (click)="update(i, false);">
                <strong class="fs-5">-</strong></button>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" class="bi bi-info-circle-fill text-grey" viewBox="0 0 16 16" (click)="openModal(extra, template)">
                <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </svg>
    </div>
</div>




<ng-template #template>
    <div class="text-center">
        <div class="modal-header d-flex justify-content-between ">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </svg>
            <div class=" text-center mx-3">
                {{modalText}}
            </div>
            <button type="button" class="btn-close close pull-right " aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
    </div>
</ng-template>